.Titel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45rem;
    h1{
        margin: 0;
        text-align: center;
        color: #000000;
        width: 45%;
        font-family:sans-serif, 'Gotham Rounded';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    }
    p{
        margin: 0;
        padding-top: 20px;
        text-align: center;
        width: 29%;
        color: #4F4F4F;
        font-family:sans-serif, 'Gotham Rounded';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .boxe-evaluation{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 30px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 350px;
            height: 207px;
            span{
                color: #4F4F4F;
                font-family:sans-serif, 'Gotham Rounded';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                margin-left: 20px;
                width: 83.5%;
            }
            button{
                background: none;
                border: none;
                outline: none;
                margin-left: 20px;
                margin-top: 31px;
                width: 9rem;
                padding: 0;
                a{
                    text-decoration: none;
                    color: #000000;
                    font-family:sans-serif, 'Gotham Rounded';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
    }
}